Host *
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

#tun_prod
Host 34.
ForwardAgent           yes
ServerAliveInterval    260
TCPKeepAlive           yes
ControlMaster          no
ControlPath            ~/.ssh/mux-%r@%h:%p
StrictHostKeyChecking  no
UserKnownHostsFile=/dev/null
ControlPersist         8h
IdentityFile           ./ssh/azz.pem
